<!-- <p>quote-details works!</p> -->

<p>
    <li>{{childQuote.quoteAuthor}}</li>
    <li>{{childQuote.name}}</li>
<p>

<div class=" likeOrDislike col">
    <p class="btn btn-success"><i class="far fa-thumbs-up" (click)='likeCounter()'>{{likeCount}}</i></p>
    <p class="btn btn-danger"><i class="far fa-thumbs-down" (click)='disLikeCounter()'>{{disLikeCount}}</i></p>
    <p><i class="far fa-trash-alt" (click)='deleteQuote(true)'></i></p>
</div>


<!-- CODE BELOW DOES NOT WORK -->
<!-- <ul *ngFor = 'let quote of quotes'>
    <li>{{quote.quote}}</li>
    <li>{{quote.quoteAuthor}}</li>
    <li>{{quote.name}}</li>
</ul> -->