
.navbar{
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    z-index: 9;
    background: #474545;
}


.quoteForm {
    width: 100vw;
    min-height: 100vh;
    background-color: grey;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 25vw;
}


.inputs {
    gap: 2rem;
    width: 50%;
}


li {
    list-style: none;
}



@media screen and (max-width: 48rem){
    .quoteForm{
        padding: 0;
    }

    #message{
        width: 100vw;
    }
}