<!-- <p>quote-form works!</p> -->
<!-- navbar -->
<nav class="navbar">
  <h1>QuotesGame</h1>
</nav>
<!-- Form section -->
<!-- ADD ngModel TO THE FORM BELOW AND THE NAME VARIABLES -->
<section class="quoteForm">
      <h3>QUOTE FORM</h3>
      <form id="form" action="" method="post">
          <textarea id="message" name="message" id="" cols="30" rows="10" placeholder="Quote" [(ngModel)]= 'quote'></textarea>
          <br>
          <div class="inputs d-flex flex-column">
              <input type="text" id="name" name="name" placeholder="Author of quote" [(ngModel)]= 'quoteAuthor'>
              <input type="text" id="submitee" name="submitee" placeholder="Name of person who submitted the quote" [(ngModel)]= 'name'>
          </div>
          <br>
          <button class="btn btn-primary p-2" (click)='addQuote()'>Submit</button>
      </form>
</section>
  
<section class="mt-5">
  
  <ul *ngFor = 'let quote of quotes; let i = index'> 
    <li>{{quote.quote}}</li>
    <app-quote-details [childQuote]='quote' (isClicked) = 'completeDelete($event, i)' ></app-quote-details>
  </ul>
</section>