
.navbar{
    width: 100%;
    /* position: fixed; */
    top: 0;
    left: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    z-index: 9;
    background: #474545;
}


.quoteForm {
    width: 88%;
    height: 70vh;
    background-color: grey;
    display: flex;
    /* align-items: center; */
    position: relative;
    padding: 40px 70px;
}

.row.inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}