<!-- <p>quote-form works!</p> -->
<!-- navbar -->
<nav class="navbar">
  <h1>QuotesGame</h1>
</nav>
<!-- Form section -->
<!-- ADD ngModel TO THE FORM BELOW AND THE NAME VARIABLES -->
<section class="quoteForm">
    <div id="contact">
      <h3>QUOTE FORM</h3>
      <form id="form" action="" method="post">
          <textarea id="message" rows="10" cols="77" name="message" placeholder="Quote" [(ngModel)]= 'quote'></textarea>
          <br>
          <div class="row inputs">
            <div class="col-md-6">
                <input type="text" id="name" name="name" placeholder="Author of quote" [(ngModel)]= 'quoteAuthor'>
            </div>
            <div class="col-md-6">
                <input type="text" id="submitee" name="submitee" placeholder="Name of person who submitted the quote" [(ngModel)]= 'name'>
            </div>
          </div>
          <br>
          <button class="submit-btn" (click)='addQuote()'>Submit</button>
      </form>
    </div>
</section>
  
<section>
  <ul *ngFor = 'let quote of quotes'>
    <li>{{quote.quote}}</li>
    <li>{{quote.quoteAuthor}}</li>
    <li>{{quote.name}}</li>
  </ul>
  
    <app-quote-details></app-quote-details>
</section>